
# You can install/upgrade the Python packages from this file via:
# pip3 install --upgrade --upgrade-strategy=eager -r requirements.txt

tifffile == 2025.6.11
numpy == 2.3.1
matplotlib == 3.10.3
regex == 2024.11.6
